
  <div class="container">
    <div class="jumbotron">
        <input type="text" [(ngModel)]="inputString">{{inputString}}
        <!-- <form #frm="ngForm" (ngSubmit)="addUser(frm)">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" 
            name="name" 
            class="form-control" 
            ngModel
            #nameUser="ngModel"
            required
            pattern="[a-zA-Z][a-zA-Z ]+"
            >
            <!-- <div *ngIf="nameUser.touched" class="alert alert-danger">
              <div *ngIf="nameUser.errors?.required">
                  Name is Required
              </div>
              <div *ngIf="nameUser.errors?.pattern">
                  Name is invalid
              </div>
            </div>
            <div *ngIf="nameUser.touched" class="alert-danger">
                <div *ngIf="nameUser.errors?.required && nameUser.touched">
                    Name is Required
                </div>
                <div *ngIf="nameUser.errors?.pattern">
                    Name is invalid
                </div>
            </div>
          </div>
          <div class="form-group">
              <label for="contact">Contact</label>
              <input type="text" name="contact" class="form-control" 
              ngModel
              pattern="^\d+$"
              >
            </div>
            <div class="form-group">
                <label for="email">Email ID</label>
                <input type="text" name="emailId" class="form-control" ngModel>
              </div>
              <button type="submit" 
                name="button" 
                class="btn btn-success" [disabled]="frm.invalid">
                Add User
            </button>
            </form> -->
    </div>
  </div>
 

<!-- {{frm.value | json}} -->
